<footer class="py-5 bg-light">
    <div class="container">
        <div class="row">
            <div class="col-md-6 mb-3">
                <a class="d-inline-flex align-items-center mb-2 link-dark text-decoration-none" href="{{ .Site.BaseURL }}">
                    <img src="{{ "images/logo.png" | absURL }}" alt="{{ .Site.Title }}" class="img-fluid footer-logo">
                </a>
                <ul class="list-unstyled small text-muted">
                    <li class="mb-2">{{ .Site.Params.slogan }}</li>
                    <li class="mb-2">&copy; 2024 {{ .Site.Title }}. All rights reserved.</li>
                </ul>
            </div>

            <div class="col-md-6 mb-3 d-flex justify-content-end">
                <div class="social-buttons">
                    <h2>Socials</h2>
                    <div class="buttons-container">
                        <a href="https://www.linkedin.com/company/bsidesgrunn/" class="social-btn">
                            <img src="{{ "images/linkedin.png"| absURL }}" alt="LinkedIn" class="social-icon">
                        </a>
                        <a href="https://infosec.exchange/@bsidesgrunn" class="social-btn">
                            <img src="{{ "images/mastodon.png"| absURL }}" alt="Mastodon" class="social-icon">
                        </a>
                        <a href="https://github.com/bsidesgrunn" class="social-btn">
                            <img src="{{ "images/github.png"| absURL }}" alt="GitHub" class="social-icon">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>

<link rel="stylesheet" href="{{ "/css/styles.css" | relURL }}">
